footer {
    background: $bg-footer;
    color: $primary-color;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;

    ul {

        li {
            list-style: none;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    
    footer {
        display: block;
    }
}