header {
    background-color: $bg-salmon;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  h1 {
      margin: 0;
      text-align: center;
      color: $color-link;
      text-transform: capitalize;
      font-size: 48px;
  } 

  nav {
    a {
      text-decoration: none;
      color: $color-link;
      font-size: 20px;
      margin-right: 8px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 600px){
  header {
    display: block;
    nav {
      text-align: center;
    }
  }
}

@media screen and (max-width: 319px){
  header {
    display: block;
    text-align: center;
  }
}