nav {
    
    a {
        color: $color-link;
        font: 25px;
        margin: 0 2% 0 0;
        text-decoration: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 600px){
    nav {
        text-align: center;
    }
}